  /* edit cd custom styles */

  .kv-edit-cd__remove-cd-rom {
    align-self: end;
    justify-self: start;
    color: var(--pf-global--icon--Color--light);
    border: none;
  } 
  @media screen and (min-width: 768px) {
    .kv-edit-cd__remove-cd-rom {
      justify-self: end;
      margin-left: calc(var(--pf-global--gutter) * -1);
    }
  } 
  .kv-edit-cd__remove-cd-rom:hover, .kv-edit-cd__remove-cd-rom:active, .kv-edit-cd__remove-cd-rom:focus {
    color: var(--pf-global--icon--Color--dark);
  }
  .kv-edit-cd__add-cd-rom {
    justify-self: start;
  }
  .kv-edit-cd__grid {
    grid-column-gap: var(--pf-global--gutter);
  }

  .kv-edit-cd__alert {
    margin-bottom: var(--pf-global--spacer--md);
  }